
body{
    background-color: rgb(219, 143, 57);
}

.container{
    text-align: center;
}

.flex{
    display: flex;
    
    justify-content: center;
    margin-top: 30px;

}

.text{
    float: left;
}

img{
    height: 250px;
    width: 300px;
}


#box1{
    margin-right: 15px;
    height: 450px;
    background-color: rgb(61, 39, 15);
}

#box2{
    
    height: 450px;
    background-color: rgb(61, 39, 15);
}

#box3{
    margin-left: 15px;
    height: 450px;
    background-color: rgb(61, 39, 15);
}


